*{
    margin : 0;
    padding: 0;
}

header{
    text-align: center;
    background-image: url(../img/img/fundo-topo.jpg);
    padding: 10px 0;
}

header h1{
    margin: 0;
    height: 64px;
}
nav{
    padding: 15px 0;
}

nav li{
    display: inline;
    background-image: url(../img/img/patinha-preta.png);
    background-repeat: no-repeat;
}

nav a{
    text-decoration: none;
    color: #000;
}